<table *ngIf="ratings" class="table table-bordered table-striped table-dark">
        <tbody>
            <tr *ngFor="let rating of ratings">
    
                <td>
                    <a routerLink="/artist/{{rating.artist.id}}">
                        <img src="{{rating.artist.picture_small}}">
                    </a>
                </td>
    
                <td>
                    <a routerLink="/artist/{{rating.artist.id}}"> {{rating.artist.name}} </a>
                    <div>
                        <ngb-rating [(rate)]="rating.rating" [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                    <hr>
                    <div>Rated by {{rating['userProfile']['username']}} on {{rating['modifiedDate'] | date: 'MM/dd/yyyy'}}</div>
    
                </td>
            </tr>
        </tbody>
    </table>