  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">raydit</a>
      <div class="collapse navbar-collapse" [ngbCollapse]="!isNavbarCollapsed" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" *ngIf="currentUser" (click)="isNavbarCollapsed = false">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/{{currentUser.id}}" *ngIf="currentUser" (click)="yourProfile()">Your Profile <span
                    class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search/artist" *ngIf="currentUser" (click)="isNavbarCollapsed = false">Search 
                  <!-- <span><mdb-icon fas icon="search"></mdb-icon></span> -->
                </a>
              </li>
            <li class="nav-item" *ngIf="currentUser; else notLoggedIn">
                <a class="nav-link" (click)="logout()">Log out<span class="sr-only">(current)</span></a>
              </li>
            <ng-template #notLoggedIn>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" (click)="isNavbarCollapsed = false">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup" (click)="isNavbarCollapsed = false">Sign up</a>
            </li>
            </ng-template>
          </ul>
        </div>
    </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
