<div class="card mt-4 bg-light">
    <div class="card-body">
  
      <div class="form-group">
        <label for="typeahead-http">Search for a Movie or TV show:</label>
        <!-- <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model"
          [ngbTypeahead]="search" placeholder="Artist search" (ngSubmit)="onSubmit($event)"
          (selectItem)="onSubmit($event)" />
        <span *ngIf="searching">searching...</span>
        <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div> -->
        <input type="text" class="form-control" [(ngModel)]="model"
        placeholder="Movie/TV search" (ngSubmit)="onSubmit($event)"
        />
        <button class="btn btn-outline-dark btn-rounded btn-sm my-0" (click)="test()">Search</button>
    
      </div>
  
      <hr>
      <div><h6>*Autocomplete search for Movies/TV is not yet available. Please type the full title spelled correctly.</h6></div>
  
    </div>
  </div>