<div *ngIf="artist">
  <div class="card mt-4 bg-light">
    <h4 class="card-header">{{artist.name}}</h4>
    <hr>
    <div id="image"><img src="{{artist.picture_medium}}"></div>
    <hr>
    <div>Your rating:</div>
    <app-rating *ngIf="artist" [artist]="artist"></app-rating>
  </div>

  <div class="card mt-4">
    <h4 class="card-header">Albums by {{artist.name}}:</h4>



    <div *ngIf="albums" class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped table-dark">
        <tbody>
          <tr *ngFor="let album of albums">

            <td>
              <a routerLink="/album/{{album.id}}"> 
              <img src="{{album.cover_small}}">
              </a>
            </td>

            <td>
              <a routerLink="/album/{{album.id}}"> 
              <div>{{album.title}} </div>
              </a>
              <!-- <hr> -->
              <!-- <div>
                  <ngb-rating [(rate)]="rating.rating" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                              </ng-template>
                  </ngb-rating>
                </div> -->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>